@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .paginationSliderHeader {
    padding: 5rem;
  }
  body {
    background-color: #1d1c2a;
  }
  .page {
    color: #7a8197;
    font-weight: 600;
  }

  .active {
    color: #01a2ff;
    transition: all 0.5s ease-in-out;
  }
  .btn-back-home {
    position: fixed;
    left: 4rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    background-color: #4a5567;
    transition: all ease-in-out 0.5s;
  }
  .active-btn {
    color: #01a2ff;
    background-color: #ffffff2c;
    border-radius: 16px;
    transition: color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }

  .swiper-wrapper .swiper-pagination .swiper-pagination-bullets {
    position: absolute;
    bottom: 10% !important;
    left: 80% !important;
  }
  .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: gray;
  }
  .swiper .swiper-pagination .swiper-pagination-bullet-active {
    background: white;
    width: 25px;
    border-radius: 10px;
  }
  @media screen and (max-width: 768px) {
    .swiper .swiper-pagination .swiper-pagination-bullets {
      position: absolute;
      bottom: 10% !important;
      left: 50% !important;
    }
  }
}

@layer base {
  @font-face {
    font-family: "Mona Sans";
    src: url("Mona-Sans.woff2") format("woff2 supports variations"),
      url("Mona-Sans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

  html {
    font-family: "Mona Sans";
  }
}
